/*Margini laterali*/
    #margini {
        margin-left: 250px;
        margin-right: 250px;
    }
/*Testata*/
    #testata {
        border-bottom: 2px solid goldenrod;
        background-color: rgb(226, 226, 226);
    }
    #foto {
        display: block;
        margin: auto;
    }
    h1 {
        text-align: center;
        font-size: 2em;
    }
/*Curriculum*/
    h2{
        color: rgb(204, 155, 30);
    }
/*footer*/
    #footer {
        border-top: 1px solid goldenrod;
        text-align: center;
    }